@model IEnumerable<ProductData.ApplicationServices.Entity.MaxPriceItemByName>

@{
    ViewBag.Title = "Items grouped by Max Price";
}

<h2>Items grouped by Max Price</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPrice)
        </td>
        <td>
        @Html.ActionLink("Details", "Details", new { name=item.Name }) 
        </td>
          
    </tr>
}

</table>
